aws_region = "eu-north-1"

project_name = "terraform-aws-demo"
environment  = "dev"

# Keep this false while learning unless you specifically want to test S3
# versioning behavior. Versioning can retain old object versions.
enable_bucket_versioning = false

extra_tags = {
  Owner  = "your-name"
  Lesson = "terraform-basics"
}
